* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

<<<<<<< HEAD
input:focus 
{
  outline: none;
}
html {
  overflow-x: hidden;
}
=======
html{
overflow-x: hidden;
}

>>>>>>> 9c61d670949e5c4e370dc3d1811bedab2c36aa08
body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Modal */
.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1;
  display: none;
  align-items: center;
  justify-items: center;
}

.modal section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
}

.modal .modal_img img {
  width: 40px;
  height: 40px;
  object-fit: fill;
}
.modal .modal_close h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: red;
  padding: 1rem;
  cursor: pointer;
}

.modal_wrapper {
  width: 400px;
  border-radius: 1rem;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal_content {
  margin-top: 2rem;
}

.modal_content p {
  padding: 0 1rem;
  font-size: 1.3rem;
  color: #333;
}

.modal_content button {
  display: grid;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #0076ce;
  color: #f7f7f7;
  cursor: pointer;
  border: none;
  border-radius: 0 0 1rem 1rem;
}

@media (max-width: 700px) {
  .modal_wrapper {
    width: 80%;
  }

  .modal_content p {
    font-size: 1.2rem;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* global style */
.active {
  color: #0076ce;
}
li {
  list-style: none;
}

/* header */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

header button {
  padding: 1rem;
  border: none;
  color: white;
  background: #0076ce;
  cursor: pointer;
}

header .logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
header .link {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

header .link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/*Media */

@media (max-width: 600px) {
  header {
    padding: 0.2rem 1rem;
  }
  header .link a {
    font-size: 15px;
  }
}

/* Showcase */

section.showcase {
  line-height: 1.3;
  position: relative;
  height: 500px;
  background-image: url("./images/sticks.jpg");
  background-position: center;
  background-size: cover;
}

section.showcase .showcase_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  display: grid;
  align-items: center;
  padding: 2rem;
  text-align: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.showcase_wrapper h1 {
  font-size: 3rem;
  font-weight: bold;
}

.showcase_wrapper h3 {
  font-size: 2rem;
  padding-top: 1rem;
}
.showcase_wrapper button {
  background: none;
  padding: 1rem;
  border: 1px solid #ccc;
  color: white;
  margin-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Media */
@media (max-width: 600px) {
  .showcase_wrapper h1 {
    font-size: 2rem;
    text-align: center;
  }
  .showcase_wrapper h3 {
    font-size: 1rem;
  }
}

/* Introduction */

section.introduction {
  display: flex;
  column-gap: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

section.introduction .intro_image {
  width: 50%;
  background-image: url("./images/blue.jpg");
  background-position: center;
  background-size: cover;
}
.intro_content {
  width: 50%;
  padding: 1rem 0;
}

.intro_content h2 {
  line-height: 1;
  padding-bottom: 1rem;
}
section.introduction .intro_image img {
  width: 100%;
  background-color: #ccc;
}

/* Media */
@media (max-width: 700px) {
  section.introduction {
    display: grid;
    width: 90%;
  }

  .intro_content {
    width: 100%;
  }

  section.introduction .intro_image {
    display: none;
  }
}

/*  Boxes */

main.boxes {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 3rem;
}

main.boxes .box1 {
  padding: 1rem 2rem;
  width: 50%;
}

main.boxes .box1 h3,
main.boxes .box2 h3 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
main.boxes .box2 {
  padding: 1rem;
  width: 50%;
  color: #f7f7f7;
  background-color: #333;
}

/* Media */
@media (max-width: 700px) {
  main.boxes {
    display: grid;
    width: 90%;

    margin-top: 1rem;
    border-top: 2px solid #ccc;
  }

  main.boxes .box1 {
    padding: 1rem;
  }

  main.boxes .box1,
  main.boxes .box2 {
    width: 100%;
  }

  main.boxes .box2 {
    margin-top: 1rem;
  }
}
/* how_to_help */

h1.help {
  width: 80%;
  color: #333;
  margin: auto;
  border-left: 5px solid #0076ce;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.how_to_help {
  /* background-color: #ccc; */
  width: 80%;
  padding: 3rem;
  margin: auto;
  margin-bottom: 3rem;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 0.5rem;
  gap: 2rem;
}

.card {
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  background-color: white;
  width: 300px;
}

.card img {
  width: 300px;
  background-color: #ccc;
  height: 200px;
  object-fit: fill;
  border-radius: 1rem 1rem 0 0;
}

.card .card_img {
  width: 300px;
  height: 200px;
}

.card h3 {
  text-align: center;
  padding-top: 1rem;
}

.card p {
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}

.card button {
  width: 100%;
  padding: 1rem;
  background: #0076ce;
  color: white;
  border: none;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 0;
  cursor: pointer;
  display: grid;
  align-items: center;
}

/* Media */

@media (max-width: 1000px) {
  .how_to_help {
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
    padding: 0;
    display: grid;
    box-shadow: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  h1.help {
    width: 100%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 700px) {
  h1.help {
    text-align: center;
    font-size: 1rem;
    padding-left: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    border-left: 0;
  }
  .how_to_help {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card {
    width: 200px;
  }

  .card img {
    width: 200px;
    height: 180px;
  }
  .card h3 {
    text-align: center;
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }
  .card p {
    display: none;
  }
}

/* Form */

form {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 1rem;
  display: grid;
  align-items: center;
  align-content: center;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  column-gap: 1rem;
}

form label {
  font-weight: bold;
  color: #0076ce;
}
form .banking,
.whatsapp,
.ewallet {
  background-color: white;
  padding: 1rem;
  width: 300px;
}

.ewallet h3 
{
  color:#0076ce;
}
.ewallet p 
{
  font-weight: bold;
  color: #333;
}

.bank_logo {
  display: grid;
  justify-items: center;
  align-items: center;
}

.bank_logo img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
form .banking p {
  font-weight: bold;
  color: #333;
}
.whatsapp {
  margin-top: 1rem;
}

.whatsapp input {
  width: 100%;
  border: none;
  display: grid;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
}

.whatsapp button {
  position: relative;
  background-color:#002D62;
  text-align: center;
  color: #f7f7f7;
  width: 100%;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}



/* Media */
@media (max-width: 1000px) {
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  form {
    padding: 2rem;
  }
  form .banking,
  .whatsapp,
  .ewallet {
    width: 100%;
  }
}
